.questionCard {
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
  max-width: 1200px;

  .rightSide {
    .titleDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        color: rgb(9, 149, 254);
        margin-bottom: 0;
      }
      .time {
        font-size: 12px;
      }
      .edit {
        display: flex;
        .time {
          font-size: 12px;
        }
        i {
          margin-left: 5px;
        }
      }
    }

    .text {
      font-size: 13px;
    }
  }

  .leftSide {
    text-align: right;
    padding-right: 10px;
  }
}

.notLogged {
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .questionCard {
    .rightSide {
      .titleDiv {
        .edit {
          .time {
            font-size: 10px;
          }
        }
      }
    }
  }
}
