.container {
  width: 100%;
  background-color: white;
  border-top: 3px solid rgb(244, 130, 36);
  height: 50px;
  z-index: 10;
  position: fixed;
  top: 0;

  .header {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    line-height: 30px;
    padding: 0 70px;
    max-width: 1300px;
    z-index: 10;

    width: 100%;
    box-shadow: 0 0 4px lightgray;

    .searchDiv {
      display: flex;
      align-items: center;
      padding: 5px;

      .inputGroup {
        width: 80%;
        position: relative;

        label {
          position: absolute;
          left: 18px;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        label .icon {
          color: gray;
        }

        .search {
          padding-left: 25px;
          padding-top: 8px;
          padding-bottom: 8px;
          width: 95%;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
      }
    }
  }
}

.logo {
  height: 30px;
  //   padding-top: 10px;
}

.logoInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navLink {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 50px;
}

.navLink:hover {
  color: gray;
}

.mg5 {
  margin: 0 5px;
}

.login {
  padding: 10px 10px;
  background-color: rgb(225, 236, 244);
  border: 1px solid rgb(57, 115, 156);
  color: rgb(57, 115, 156);
  border-radius: 3px;
  font-size: 13px;
}

.login:hover {
  background-color: rgb(170, 179, 186);
}

.signup {
  padding: 10px 5px;
  background-color: rgb(9, 149, 254);
  border: 1px solid rgb(57, 115, 156);
  color: white;
  border-radius: 3px;
  font-size: 13px;
  width: 90px;
}

.signup:hover {
  background-color: rgb(7, 128, 221);
}
