body {
  font-family: -apple-system, 'system-ui', 'Segoe UI Adjusted', 'Segoe UI', 'Liberation Sans', sans-serif;
  background-color: rgb(241, 242, 243);
}

.container {
  width: 200px;
  margin: 200px auto;
}
